# Django
ALLOWED_HOSTS=
DEBUG=True
DJANGO_SECRET_KEY=

# Youtube API
GOOGLE_API_KEY=

# Twitch API
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:8000/api/v1/profile/twitch_callback/

# PostgreSQL
POSTGRES_DB=test_db
POSTGRES_USER=test
POSTGRES_PASSWORD=12345
POSTGRES_HOST=localhost
POSTGRES_PORT=5432