# Django
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=True
DJANGO_SECRET_KEY=

# Youtube API
GOOGLE_API_KEY=

# Twitch API
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=http://localhost:8000/api/v1/profile/twitch_callback/

# PostgreSQL
POSTGRES_DB=test
POSTGRES_USER=test
POSTGRES_PASSWORD=12345
POSTGRES_HOST=db
POSTGRES_PORT=5432