# Django
ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=False
DJANGO_SECRET_KEY=

# Youtube API
GOOGLE_API_KEY=

# Twitch API
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_REDIRECT_URI=

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=